<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Resto App</h1>
    <div class="button-container">
      <a href="/menu" class="button menu-button">View Menu</a>
      <a href="/orders" class="button order-button">View Orders</a>
    </div>
  </body>
</html>
