<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Resto</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Aplikasi Resto</h1>
    <a href="/menu">Lihat Menu</a>
    <a href="/order">Lihat Order</a>
  </body>
</html>
