<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <h1>Orders</h1>
    <a href="/" class="back-button">Back to Home</a>
    <div id="orders">
      <% orders.forEach(function(order) { %>
      <div class="order-item">
        <p>ID: <%= order.id %></p>
        <p>Items: <%= order.items.map(item => item.name).join(", ") %></p>
        <p>Total Price: Rp. <%= order.totalPrice %></p>
      </div>
      <% }); %>
    </div>
  </body>
</html>
