<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orderan</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Orderan yang Masuk</h1>
    <a href="/">Kembali ke menu utama</a>
    <ul>
      <% orders.forEach(order => { %>
      <li>
        ID: <%= order.id %> - Menu: <%= order.name %> - Harga: Rp. <%=
        order.price %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
